html, body {
  font-family: 'Lato', sans-serif;
}

.navbar-brand, .display-4, .card-header {
  font-family: 'Fredoka One', cursive;
}

.menu-header, .contact-header {
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.menu-card {
  min-width: 16rem;
}

.contact-list {
  max-width: 20rem;
}

i {
  font-size: 1.8rem;
  margin-right: 0.5rem;
}

.i-label {
  line-height: 3.2rem;
}